layout {
    focus-ring {
        width 2
        active-color "#004041"
        inactive-color "transparent"
        urgent-color "#ba1a1a"
    }
    shadow {
        on
        softness 28
        spread 6
        offset x=0 y=0
        draw-behind-window false
        color "#00404195"
        inactive-color "#00000045"
    }
    tab-indicator {
        active-color "#004041"
        inactive-color "#175859"
        urgent-color "#ba1a1a"
    }
    insert-hint {
        color "#00404180"
    }
}

