[Desktop Entry]
Type=Application
Name=Clash Verge
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/clash
Exec="/nix/store/c6rqjf39zkp7md84k4xc5i6vbl5609jk-clash-verge-rev-2.5.2/bin/.clash-verge-wrapped" %u
